@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Rubik&display=swap');
:root {
  --primary-color: #F94C30;
  --secondary-color: #B4260F;
  --bg-color: #292929;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
h1 {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1.2;
  max-width: 750px;
  margin: 0 auto;
}
h2, h3 {
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
a {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}

.container {
  max-width: 1024px;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.flex > * {
  flex: 1;
  min-width: 350px;
}
.btn-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.1rem;
  text-align: center;
  transition: background 0.3s ease;
}
.btn:hover {
  background-color: var(--secondary-color);
  color: white;
}
.btn-alt {
  background-color: white;
  color: black;
}
.text-primary {
  color: var(--primary-color);
}
.tag {
  background-color: white;
  color: black;
  padding: 10px 50px;
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;
  font-size: 0.8rem;
  text-transform: uppercase;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
}
.tag::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: block;
  position: absolute;
  right: calc(100% - 35px);
  top: 50%;
  transform: translateY(-50%);
}
.tag::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: block;
  position: absolute;
  left: calc(100% - 35px);
  top: 50%;
  transform: translateY(-50%);
}

/* Header Section */
.header-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url("../assets/images/background.jpg") center center / cover no-repeat;
  color: white;
  min-height: 100vh;
}
.header-section nav {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.5rem 0;
}
.header-section nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.header-section nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.header-section nav ul a {
  color: white;
  transition: color 0.3s ease;
}
.header-section nav a:hover:not(.header-section nav a.btn) {
  color: var(--primary-color);
}
.header-section nav ul a.active {
  color: var(--primary-color);
}

/* Hero Section */
.hero-section {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 0;
}
.hero-section .container > * {
  margin-bottom: 1.5rem;
}
.hero-section .btn-group {
  justify-content: center;
  padding-top: 1rem;
}

/* Services Section */
.services-section {
  background: var(--bg-color) url("../assets/images/footer-bg.png");
  background-blend-mode: overlay;
  color: white;
  padding: 4rem 0;
  padding-bottom: 8rem;
}
.services-section p {
  margin-left: 0;
}
.services-section li {
  margin-bottom: 5px;
}
.services-section li i {
  color: var(--primary-color);
  margin-right: 5px;
}
.services-section .services-profile {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.services-section .services-profile > * {
  padding: 0 2rem;
}
.services-section .services-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services-section .services-profile img {
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  width: 100px;
  margin-bottom: 0.5rem;
}
.services-section .services-profile h4 {
  font-size: 1.3rem;
}
.services-section .services-profile span {
  font-size: 0.9rem;
  text-align: center;
}
.services-section .services-profile-info {
  border-right: 2px solid gray;
}
.services-section .services-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.services-section .card {
  background-color: #171717;
  width: 100%;
  max-width: 200px;
  padding: 1.5rem;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}
.services-section .card i {
  font-size: 4rem;
  color: var(--primary-color);
  z-index: 3;
}
.services-section .card::before {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #2c2c2c;
  position: absolute;
  bottom: calc(100% - 70px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

/* Floating Banner Section  */
.banner-section {
  margin-top: -60px;
}
.banner-section .banner-card {
  background-color: var(--primary-color);
  color: white;
  padding: 3rem 1.5rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.banner-card .banner-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.banner-card .banner-phone i {
  font-size: 2rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-card .banner-phone .phone-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-card .phone-text span:last-child {
  font-size: 1.5rem;
  font-weight: 700;
}
.banner-card p {
  min-width: 300px;
  max-width: 35%;
  text-align: center;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .hero-section {
    height: calc(100% - 220px);
  }
  .header-section nav .container {
    justify-content: space-around;
  }
}